	body {

		background-image: url(https://c4.wallpaperflare.com/wallpaper/549/813/288/philippines-paint-background-texture-wallpaper-preview.jpg);
		background-size: cover; 
		font-famiLy: monospace;
	}
.header {
	background-color:white;
	margin: 5px;
	padding: 10px;
}

.firstlevel {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-item: center;
}
.secondlevel {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-item: center;
}

.section1 {
	border:1px solid black;
	width: 350px; background-color :white;width: 350px;
	padding: 10px;
	text-align: center;
	margin: 10px;
	box-shadow: 10px 8px 6px 0px rgba(0, 0,0, 0.15);
-webkit-box-shadow: 10px 8px 6px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 10px 8px 6px 0px rgba(0,0,0,0.15);
}

.section1info {
	border: 1px solid black;
	width: 350px; background-color :white;width: 350px;
	padding: 10px;
	text-align: center;
	margin: 10px;
	box-shadow: 10px 8px 6px 0px rgba(0,0,0,0.15);
-webkit-box-shadow: 10px 8px 6px 0px rgba(0,0, 0,0.15);
-moz-box-shadow: 10px 8px 6px 0px rgba(0,0,0,0.15);
}

.section2 {
	border: 1px solid black;
	width: 350px; background-color :white;width: 350px;
	padding: 10px;
	text-align: center;
	margin: 10px;
	box-shadow: 10px 8px 6px 0px rgba(0,0,0,0.15);
-webkit-box-shadow: 10px 8Dx 6px @px raba(0.0.0.8.15);
-moz-box-shadow: 10px 8ox 6Dx 0px raba(0.0.0.0.15);
}

.section2info {
	border:1px solid black;
	width: 350px; background-color :white;width: 350px;
	padding: 10px;
	text-align: center;
	margin:10px;
	box-shadow: 10px 8px 6px 0px rgba(0,0, 0, 0.15);
-webkit-box-shadow: 10px 8px 6px 0px rgba(0,0,0, 0.15);
-moz-box-shadow: 10px 8px 6px 0px rgba(0,0,0,0.15);
}

.section3 {
	border: 1px solid black;
	width: 350px; background-color :white;width: 350px;
	padding: 10px; 
	text-align: center;
	box-shadow: 10px 8px 6px 0px rgba(0,0, 0, 0.15);
-webkit-box-shadow: 10px 8px 6px 0px rgba(0,0,0, 0.15);
-moz-box-shadow: 10px 8px 6px 0px rgba(0,0,0,0.15);
}

.section3info {
	border :1px solid black;
	width: 350px; background-color :white;width: 350px;
	padding: 10px;
	text-align: center;
	margin: 10px;
	box-shadow: 10px 8px 6px 0px rgba(0,0,0,0.15);
-webkit-box-shadow: 10px 8px 6px 0px rgba(0,0, 0, 0.15);
-moz-box-shadow: 10px 8px 6px 0px rgba(0,0,0,0.15);
}
